@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(131, 96, 131);
  height: 100vh;
}

.modal__center {
  padding: 3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.modal__center h1 {
  color: #fff;
}

.modal__center input,
.modal__center button {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.modal__center button {
  color: #fff;
  background-color: rgb(197, 127, 206);
}

.modal__center button:disabled {
  cursor: not-allowed;
  background-color: rgba(255, 255, 255, 0.2);
}
